.feedbackBtn {
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 5px;
  width: 80px;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.feedbackBtn:hover,
.feedbackBtn:focus {
  color: #fff;
  outline: 0;
  cursor: pointer;
  background-color: teal;
}

.feedbackBtn:not(:last-child) {
  margin-right: 20px;
}
